{% extends 'BestTripWeeGoBundle::layout.html.twig' %}
{% block include_head %}<link rel="stylesheet" type="text/css" href="{{ asset('css/owl.carousel.css') }}" media="screen">{% endblock %}
{% block include_foot %}<script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>{% endblock %} 


{% block titre_page %}Experience{% endblock %}
{% block titre_rubrique %}Affichage Experience{% endblock %}  
{% block main_content  %}
<div class="container">
{% for e in experience %}
    <div class="row">
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item news-item">
                <div class="inner-item">
                    <img alt="" src="{{ asset('upload/voyage.jpg')}}">
                    <div class="hover-item">
                        <ul>
                            <li><a class="autor" href="#"><i class="fa fa-user"></i> {{ e.titre }}</a></li>
                            <li><a class="comment-numb" href="#"><i class="fa fa-comments"></i> {{e.idlieu}}</a></li>
                        </ul>
                    </div>
                </div>
                <a href="#?w=500" rel="popup_name" class="poplight"><input type="button" class="bouton"  value="Recommander!"/></a>
            </div> 
            <div class="item news-item">
                <div class="inner-item">
                    <h5>{{ e.titre }} </h5>
                    <p>{{e.datePublication|date('Y-m-d')}}</p>
                    <p><h4>{{ e.texte }}</h4></p>

                </div>
            </div> 

            <div class="item news-item">
                <div>
                    <h5>Impression:</h5>
                    <p>{{e.impression}}</p>
                </div>
                 <div>
                    <h5>Date Debut:</h5>
                    <p>{{e.dateDebut|date('Y-m-d')}}</p>
                </div>
                <div>
                    <h5>Date Fin:</h5>
                    <p>{{e.dateFin|date('Y-m-d')}}</p>
                </div>
            </div> 
        </div>
    </div>
{% endfor %}  
</div>
{% endblock %}
