{% extends 'BestTripWeeGoBundle::layout.html.twig' %}
      {% block titre_page %}Experience{% endblock %}
      {% block titre_rubrique %}Ajouter Experience{% endblock %}
{% block main_content  %}
<form method="POST" class="formulaire">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {{form_label(form.titre)}}               
            {{ form_widget (form.titre) }}
        </div>
        <div class="col-md-6">
            {{form_label(form.date_debut)}}               
            {{ form_widget (form.date_debut) }}
        </div>
    </div>
    <div class="row">
         <div class="col-md-6">
            {{form_label(form.date_fin)}}               
            {{ form_widget (form.date_fin) }}
        </div>
         
        <div class="col-md-6">
            {{form_label(form.impression)}}               
            {{ form_widget (form.impression) }}
        </div>
</div>
    <div class="row">
        <div class="col-md-6">
            {{form_label(form.texte)}}               
            {{ form_widget (form.texte) }}
        </div>
        <div class="col-md-6">
            
            {{form_label(form.idLieu)}}               
            {{ form_widget (form.idLieu) }}
        </div>
    </div>
    
    <div class="row">
        <input type="submit" value="Ajouter"/>
    </div>
</div>
</form>
{% endblock %}
