{% extends 'BestTripWeeGoBundle::layout.html.twig' %}
  {% block include_head %}<link rel="stylesheet" type="text/css" href="{{ asset('css/owl.carousel.css') }}" media="screen">{% endblock %}
      {% block include_foot %}         <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>{% endblock %} 

  {% block titre_page %}Lieux{% endblock %}
      {% block titre_rubrique %}Liste Des Lieux{% endblock %}  
  {% block main_content  %}

   	
		 

									 

		<div id="carousel-example-generic4" class="carousel slide" data-ride="carousel">

						<!-- Wrapper for slides -->
						 

							<div class="item-active">
								  {% for l in lieu %}
									<div class="col-md-3">
										<div class="product-post">
											<div class="product-post-gal">
												  <img alt="" src="{{ asset('uploads/documents/'~l.path~'') }}">
												<span class="price">  {{l.idVille}}</span>
											</div>
											<div class="product-post-content">
												 <h5> {{ l.nom }}</h5>
												<ul class="product-list">
													<li><a class="like" href="{{ path('best_trip_wee_go_supprimerLieu',{id:l.id})}}"><i class="fa fa-trash-o"></i></a></li>
													 
													<li><a class="rev" href="{{ path('best_trip_wee_go_modifier',{id:l.id,statut:l.statut})}}"><i class="fa  fa-edit"></i></a></li>
												</ul>
											</div>
										 
									</div>
                                                                
	 
				
				
									 

								 

									 
								</div>
						 {% endfor %}  

							

						</div>

						 
						
					 							 

									 
							
									 
 

						 
			         
 
		
    {% endblock %}